.title  {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}
body    {
   font-family: Arial, Helvetica, sans-serif;
   background-image: url("./vietnam.jpg");
   background-size: cover;
}
.avatar {
    width: 450px;
    height: 630px;
    margin-left: 15%;
    border: solid black ;
    border-radius: 10px;
    margin-top: 50px;
    filter: drop-shadow(6px 6px 8px black);
}
.login  {
    border: solid black;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 50%;
    width: 27%;
    text-align: center;
    padding: 20px;
    margin-top: -640px;
    background-color: rgba(248, 248, 248, 0.733);
}
.register   {
    border: solid black;
    border-radius: 10px;
    border-width: 3px;
    margin-top: 5px;
    width: 30%;
    margin-left: 50%;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.733);
}
input   {
    padding-left: 10px;
    padding-right: 10px ;
    margin: 3px;
    width: 280px;
    height: 36px;
    border-radius: 10px;
    border-width: 2px;

}
button  {
    width: 305px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(24, 158, 255);
    border-radius: 10px ;
    border-width: 2px;
    color: white;
}
button:hover    {
    opacity: 0.8;
}
.getpass    {
    text-align: center;
    padding-top: 10px;
}
.dwnapp {
    text-align: center;
    margin-left: 30%;
    color: white;
    font-size: 30px;
}
.instruction   {
    word-spacing: 40px;
    margin-top: 50px ;
    font-size: 17px;
    font-size: 21px;
    border: solid black;
    border-width: 3px;
    border-radius: 10px;
    background-color:  rgba(248, 248, 248, 0.733);
    padding-left: 8%;
    padding-right: 3%;
    width: 950px;
    margin-left: 8%;
}
li {
    display: inline;
}
.language   {
    font-size: 17px;
}
